body{
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 60%;
    height: 50vh;
    
  
      
   }

   .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-left: 220px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
  }


  .divider {
    
      border: none;
      border-top: 1px solid gray; /* Adjust the color and thickness as needed */
      margin: 0;
      margin-left: 0; /* Reset the left margin */
      margin-right: 0; /* Reset the right margin */
      width: 168%;
     
  }

  .menu {
    display: flex;
    gap: 25px;
    width: 25px;
    height: 23px;
   
  }


  .menu-item{

    display: inline block;
    text-decoration: none;
    font-size: 15px;
    font-family: Poppins-SemiBold, sans-serif;
    color: #5b6770;
    font-style: bold;
    white-space: nowrap;

  }

  .menu img {

    display: inline block;
    width: 25px;
    height: 23px;
    left: 1%;

  }

  .homegoods-logo{
   margin-left: 800px;
   margin-top: 18px;

  }

  .homegoods-options{

   margin-left: 350px;
   padding-right: 0px;
   white-space: nowrap;
   
  }

  .option-item{

    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    font-family: Poppins-SemiBold, sans-serif;
    text-decoration: none;
    color: #5b6770;
    font-weight: bold;
    white-space: nowrap;

  }

  .option-item a{

    display: inline-block;

  }


  .red-banner {
    background: linear-gradient(to right, #812929, #9e24249d); /* Red gradient background */
    color: white;
    text-align: center;
    padding: 19px;
    width: 165%;
    white-space: nowrap;
}

.option-item.special {
  color: red;
}

.picture-button-container {
  position: relative;
  display: inline-block;
}

.picture-button-container img {
  width: 160%;
  height: auto;
  margin-top: 30px;
  margin-left: 35px;
}

.button-container {
  position: absolute;
  top: 200px;
  left: 87px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.button {
  background-color: white;
  color: gray;
  border: none;
  padding: 16px 80px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  
}
